
.piece {
    width: 150px;
    height: 150px;
    border-width: 10px;
    border-style: solid;
    border-image: url("https://i.ibb.co/1fnf0xr/fondo-suelo-textura-madera-gris-oscuro-53876-143082.jpg") 30 round;
    background-image: url("https://img.freepik.com/foto-gratis/fondo-suelo-textura-madera-gris-oscuro_53876-143082.jpg?t=st=1735817924~exp=1735821524~hmac=9ef8e97d2d5324c72f54a34d79d9d0e7a079ee218993dfb323291ca00bda0712&w=1380");
}

.piece:hover {
    transform: scale(1.15);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.8);
    transition: 0s ;
}

.board {
    width: 455px;
    height: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-image: url("https://i.ibb.co/1fnf0xr/fondo-suelo-textura-madera-gris-oscuro-53876-143082.jpg") 30 round;
}




.fichas{
    display: flex;
    width: 140px;
    height: 140px;
    background-color:rgb(241, 241, 239);
    justify-content: center;
    align-items: center;
    color:  rgb(50, 50, 50);
    font-size: 140px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px groove rgba(50, 50, 50, 0.593);
    border-radius: 7px;
    padding: 0 0 10px 0;
    box-shadow:inset 0px 0px 12px 0 rgba(50, 50, 50, .9); ;
}




