*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsX29mZmljZV8zMl90ZXh0dXJlX2lsbHVzdHJhdGlvbl9vZl9kYXJrX2FzaF90ZXh0dXJlX3pvb185MTIxMTNmMC0yYjhhLTRlMGMtODE3OC0zMmFhNDM3YjcyZWFfMS5qcGc.jpg");
    background-size: 100vw 100vh;
}

.piece {
    width: 150px;
    height: 150px;
    border-width: 10px;
    border-style: solid;
    border-image: url("https://i.ibb.co/1fnf0xr/fondo-suelo-textura-madera-gris-oscuro-53876-143082.jpg") 30 round;
    background-image: url("https://i.ibb.co/8XBnLNZ/FONDO-NEGRO.jpg");
}

.piece:hover {
    transform: scale(1.15);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.8);
    transition: 0s ;
}

.board {
    width: 455px;
    height: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-image: url("https://i.ibb.co/1fnf0xr/fondo-suelo-textura-madera-gris-oscuro-53876-143082.jpg") 30 round;
}




.fichas{
    display: flex;
    width: 130px;
    height: 130px;
    background-color:rgb(241, 241, 239);
    justify-content: center;
    align-items: center;
    color:  rgb(50, 50, 50);
    font-size: 140px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px groove rgba(50, 50, 50, 0.593);
    border-radius: 7px;
    padding: 0 0 10px 0;
    box-shadow:inset 0px 0px 12px 0 rgba(50, 50, 50, .9); ;
}



